// Please like <3 and share if you enjoyed!

$borderCol: #1e1e1e;
$light2: #4ee5b3;
$light1: #edfaf9;
$med: #72c0c3;
$textCol: lighten($light1, 10%);
body {
    margin: 0;
    background: $med;
    user-select: none;
}

.slot-container {
    background: #fe7365;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;

    .title {
        font-size: 6em;
        font-weight: 400;
        line-height: 1em;
        margin-top: 0.3em;
        line-height: 1;
        margin-bottom: 5vh
    }

    .money-container {
        position: relative;
        margin-bottom: 0.5rem;
        color: $textCol;
        .changes {
            position: absolute;
            display: inline-flex;
            top: 1rem;
            font-weight: bold;
            .change {
                color: #044600;
                padding-left: 0.5rem;
                animation-duration: 1s;
                animation-name: slideinLeft;
                animation-fill-mode: forwards;
                &.negative {
                    color: #860000;
                }
                @for $i from 1 through 8 {
                    &:nth-child(#{$i}) {
                        opacity: 1 - ($i * 0.15);
                    }
                }
            }
        }
        #money {
            font-size: 2rem;
            display: inline;
            margin-left: -8rem;
            font-weight: bold;
            &:before {
                content: "💰 ";
            }
        }
    }
    .play-area {
        cursor: pointer;
        position: relative;
        width: 50%;
        @media (max-width: 768px) {
            width: 80%;
        }
        display: flex;
        background-image: linear-gradient(
            45deg,
            $light1 18.75%,
            $light2 18.75%,
            $light2 50%,
            $light1 50%,
            $light1 68.75%,
            $light2 68.75%,
            $light2 100%
        );
        background-size: 56.57px 56.57px;
        min-height: 12.5rem;
        border: solid $borderCol 5px;
        .reel-container {
            user-select: none;
            display: flex;
            justify-content: center;
            flex-direction: column;
            height: 12.5rem;
            overflow: hidden;
            align-items: center;
            width: 33%;
            padding-left: 1rem;
            padding-right: 1rem;
            &:first-child {
                border-right: solid $borderCol 3px;
            }

            &:last-child {
                border-left: solid $borderCol 3px;
            }

            .reel-item {
                font-size: 5rem;
                animation-duration: 0.1s;
                animation-name: slidein;

                &.deactivate {
                    animation-duration: 0.1s;
                    animation-name: slideOut;
                    animation-fill-mode: forwards;
                }

                &.win {
                    animation: winFlashReels 1s infinite;
                    border-radius: 50%;
                }
            }
        }
        &:before {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            top: calc(50% - 8px);
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-left: 15px solid $borderCol;
        }

        &:after {
            position: absolute;
            content: "";
            width: 0;
            height: 0;
            right: 0;
            top: calc(50% - 8px);
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 15px solid $borderCol;
        }
    }

    .info {
        padding-top: 1rem;
        padding-bottom: 3rem;
        .instructions {
            color: $textCol;
            margin-bottom: 1rem;
            width: 500px;
            text-align: center;
        }

        .prize-table {
            width: 320px;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            justify-content: space-between;
            color: $textCol;
            font-weight: bold;
            font-size: 1.3rem;
            .doubles {
                padding-right: 2rem;
            }
            .prize-item {
                opacity: 0.4;
                margin-bottom: 0.2rem;

                &.active {
                    opacity: 1;
                    animation: winFlashPrizeTable 1s infinite;
                }
            }
        }
    }
}
@keyframes slidein {
    from {
        font-size: 0.1rem;
        opacity: 0;
    }

    to {
        font-size: 3rem;
        opacity: 1;
    }
}

@keyframes slideOut {
    to {
        height: 0;
        font-size: 0.1rem;
        opacity: 0;
    }

    from {
        height: 3rem;
        font-size: 3rem;
        opacity: 1;
    }
}

@keyframes winFlashReels {
    0% {
        background-color: rgba(240, 240, 240, 0.2);
    }

    50% {
        background-color: rgba(20, 200, 20, 1);
    }
    100% {
        background-color: rgba(240, 240, 240, 0.2);
    }
}

@keyframes winFlashPrizeTable {
    0% {
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.2;
    }
}

@keyframes slideinLeft {
    to {
        font-size: 1rem;
    }

    from {
        font-size: 0rem;
    }
}
